/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_clearing.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
/* line 7, ../sass/_clearing.scss */
.container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 17, ../sass/_clearing.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 28, ../sass/_clearing.scss */
.row:before {
  content: "";
  display: table;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 36, ../sass/_clearing.scss */
.row:after {
  content: "";
  display: table;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

/* line 47, ../sass/_clearing.scss */
.clearfix:after {
  clear: both;
}

/* line 51, ../sass/_clearing.scss */
.row, .clearfix {
  zoom: 1;
}

/* line 12, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: blue;
  text-align: center;
}

/* line 21, ../sass/screen.scss */
section {
  width: 100%;
  height: 100%;
}
/* line 24, ../sass/screen.scss */
section h2 {
  position: relative;
  margin: 30% 10%;
  font-size: 6em;
}

/* line 31, ../sass/screen.scss */
.tv1 {
  background: url("../imgs/img1.jpg") no-repeat top center fixed;
}

/* line 32, ../sass/screen.scss */
.tv2 {
  background: url("../imgs/img2.jpg") no-repeat top center fixed;
}

/* line 33, ../sass/screen.scss */
.tv3 {
  background: url("../imgs/img3.jpg") no-repeat top center fixed;
}

/* line 34, ../sass/screen.scss */
.tv4 {
  background: url("../imgs/img4.jpg") no-repeat top center fixed;
}

/* line 36, ../sass/screen.scss */
.bg {
  -webkit-background-size: cover;
  -o-background-size: cover;
}

/* line 40, ../sass/screen.scss */
nav {
  text-align: right;
  margin-right: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 48, ../sass/screen.scss */
nav ul li {
  display: inline;
  padding: 20px;
  position: relative;
  top: 20px;
}
/* line 53, ../sass/screen.scss */
nav ul li a {
  font-size: 1.5em;
  color: blue;
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  /* line 62, ../sass/screen.scss */
  section h2 {
    font-size: 2.5em;
  }

  /* line 65, ../sass/screen.scss */
  nav {
    text-align: center;
    position: static;
    height: 180px;
    top: 0;
  }
  /* line 70, ../sass/screen.scss */
  nav ul li {
    position: static;
  }
  /* line 72, ../sass/screen.scss */
  nav ul li a {
    display: block;
  }

  /* line 78, ../sass/screen.scss */
  .bg {
    min-width: 480px;
    min-height: 480px;
    width: 100%;
    height: auto;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
}
