/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "clearing";
@import "variables";
@import "mixins";

// CLEARING
html, body {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
  color: $primary-color;
  text-align: center;
}

// CONTENT
section {
  width: 100%;
  height: 100%;
  h2 {
    position: relative;
    margin: 30% 10%;
    font-size: 6em;
  }
}

.tv1 { background: url('../imgs/img1.jpg') no-repeat top center fixed; }
.tv2 { background: url('../imgs/img2.jpg') no-repeat top center fixed; }
.tv3 { background: url('../imgs/img3.jpg') no-repeat top center fixed; }
.tv4 { background: url('../imgs/img4.jpg') no-repeat top center fixed; }

.bg {
  @include fullscreen-background;
}

nav {
  text-align: right;
  margin-right: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
    ul li {
      display: inline;
      padding: 20px;
      position: relative;
      top: 20px;
      a {
        font-size: 1.5em;
        color: $primary-color;
        text-decoration: none;
    }
  }
}

@media screen and (max-width:780px) {
  section h2 {
    font-size: 2.5em;
  }
  nav {
    text-align: center;
    position: static;
    height: 180px;
    top: 0;
    ul li {
      position: static;
      a {
      display: block;
    }
  }
}

  .bg {
    min-width: 480px;
    min-height: 480px;
    width: 100%;
    height: auto;
    background-attachment: scroll;
    @include fullscreen-background;
  }
}