/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$typekit-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$typekit-color: blue;

// CLEARING
html, body {
  width: 100%;
  height: 100%;
  font-family: $typekit-font;
  color: $typekit-color;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.clearfix {
  &:before, &:after {
    content: "";
    display: table;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.row {
  &:before {
    content: "";
    display: table;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:after {
    content: "";
    display: table;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
  }
}

.clearfix:after {
  clear: both;
}

.row, .clearfix {
  zoom: 1;
}


// CONTENT
section {
  width: 100%;
  height: 100%;
  h2 {
    position: absolute;
    margin: 30% 10%;
    font-size: 6em;
  }
}

.tv1 { background: url('../imgs/img1.jpg') no-repeat top center fixed; }
.tv2 { background: url('../imgs/img2.jpg') no-repeat top center fixed; }
.tv3 { background: url('../imgs/img3.jpg') no-repeat top center fixed; }
.tv4 { background: url('../imgs/img4.jpg') no-repeat top center fixed; }

.bg {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

nav {
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
    ul li {
      display: inline;
      padding: 20px;
      a {
        font-size: 1.5em;
        color: $typekit-color;
        text-decoration: none;
    }
  }
}

@media screen and (max-width:780px) {
  section h2 {
    font-size: 2.5em;
  }
  nav {
    position: static;
    height: 180px;
    top: 0;
    li a {
      display: block;
    }
  }

  .tv1, .tv2, .tv3, .tv4 {
    min-width: 480px;
    min-height: 480px;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
  }
}